[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coveralls = "*"
black = "*"
isort = "*"
pylint = "*"
pylint-django = "*"
pyyaml = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
django = "*"
youtubetobibtex = "*"

[pipenv]
allow_prereleases = true
